suites:
    fpn_suite:
        namespace: FilePathNormalizer
        psr4_prefix: FilePathNormalizer
        spec_path: specs
        spec_prefix: Spec
        src_path: src
extensions:
    PhpSpec\NyanFormattersExtension\Extension: ~
formatter.name: nyan.cat
